html {
  font-family: monospace;
}

h1 {
  color: #c26f9c;
}
h1:not(:first-of-type) {
  margin-top: 4rem;
}

.example-box {
  margin: 2rem auto;
  border: 1px solid #c26f9c;
  font-size: 1.5rem;
}
.example-box .example-inner-box {
  background: #c26f9c;
  color: #113362;
  border: 1px dashed #113362;
  padding: 0.9rem;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-800 {
  height: 800px;
}

.grid {
  display: grid;
  grid-gap: 5px;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.example-1-box-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.example-3-grid {
  grid-template-columns: minmax(400px, 1fr) 1fr;
}

.example-4-grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3];
}

.example-4-box-4 {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: row-1;
  grid-row-end: row-1;
}

.example-5 {
  width: 1024px;
  height: 900px;
}

.example-5-grid {
  border: 1px solid red;
  width: 800px;
  height: 800px;
  grid-template-columns: repeat(4, [col-start] 20% [col-end]);
  grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, 20rem) [row-2-end row-3-start] 100px [row-3-end];
  /* y axis */
  align-items: stretch;
  /* x axis */
  justify-items: stretch;
  align-content: end;
  justify-content: center;
}

.example-5-box-1 {
  grid-column: col-start 2/col-end 2;
}

.example-5-box-2 {
  grid-column: col-start 3/col-end 4;
  grid-row: row-2-start/row-2-end;
  justify-self: center;
  align-self: center;
}

.example-5-box-3 {
  grid-column: col-start 1/col-end 4;
  grid-row: hd-start/hd-end;
}

.example-5-box-4 {
  grid-column: col-start 1/col-end 4;
  grid-row: row-3-start/row-3-end;
}

.example-6-grid {
  grid-template-areas: "header header" "nav  main" "footer footer";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

.example-6-header {
  grid-area: header;
}

.example-6-nav {
  grid-area: nav;
}

.example-6-main {
  grid-area: main;
}

.example-6-footer {
  grid-area: footer;
}

.example-7-grid {
  grid-auto-flow: column;
  grid-auto-columns: 100px;
}

.example-8-grid {
  grid-template-columns: repeat(auto-fill, 500px);
}

.example-9-box-2 {
  grid-column: span 2;
}

.example-10-grid {
  grid-auto-flow: row dense;
}

.example-10-box-2 {
  grid-column: span 2;
}