html {
  font-family: monospace;
}

h1 {
  color: #c26f9c;
}
h1:not(:first-of-type) {
  margin-top: 4rem;
}

.example-box {
  margin: 2rem auto;
  border: 1px solid #c26f9c;
  font-size: 1.5rem;
}
.example-box .example-inner-box {
  background: #c26f9c;
  color: #113362;
  border: 1px dashed #113362;
  padding: 0.9rem;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-800 {
  height: 800px;
}

body {
  padding: 2rem;
}

.page-icon {
  fill: #c26f9c;
  transition: 0.3s;
}

.cards {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: repeat(auto-fill, 13rem);
}
.cards > a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 10rem;
  text-decoration: none;
  display: grid;
  grid-template-rows: 5rem auto;
  grid-gap: 1rem;
  /* center horizontally every item */
  justify-items: center;
  /* center vertically the grid */
  align-content: center;
}
.cards > a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cards > a:hover .page-icon {
  fill: #d193b5;
  color: #d193b5;
}
.cards > a:hover > p {
  fill: #d193b5;
  color: #d193b5;
}
.cards > a > p {
  color: #c26f9c;
  font-weight: bolder;
  transition: 0.3s;
}