html {
  font-family: monospace;
}

h1 {
  color: #c26f9c;
}
h1:not(:first-of-type) {
  margin-top: 4rem;
}

.doc-link {
  margin-top: 2rem;
}
.doc-link a {
  text-decoration: none;
  color: #113362;
  border-bottom: 2px solid #c26f9c;
  transition: border-bottom-color 3s ease-out;
}
.doc-link a:hover, .doc-link a:active {
  border-bottom-color: #113362;
}

.example-box {
  margin: 2rem auto;
  border: 1px solid #c26f9c;
  font-size: 1.5rem;
}
.example-box .example-inner-box {
  background: #c26f9c;
  color: #113362;
  border: 1px dashed #113362;
  padding: 0.9rem;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-800 {
  height: 800px;
}

#rotate-box,
#translatable-box {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  text-align: center;
  border: 1px solid #c26f9c;
}

.rotate-skew-scale-box {
  width: 60%;
  max-width: 40rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: skew(20deg);
  overflow: hidden;
}
.rotate-skew-scale-box img {
  width: 100%;
  vertical-align: top;
  transform: skew(-20deg) scale(1.4);
}