@import 'shared.scss';

div {
    box-sizing: border-box;
}

.example-box {
    .example-inner-box {
        margin: 10px;
    }
}

.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

/* Cross Axes = align-items */
.align-items-center {
    align-items: center;
}

/* Main Axes = justify-content */
.justify-content-center {
    justify-content: center;
}

.align-self-flex-start {
    align-self: flex-start;
}

.flex-grow-100 {
    flex-grow: 100;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-10 {
    flex-shrink: 10;
}
