@import 'shared.scss';

input:not([type="text"]):not([type="number"]):not([type="password"]) {
    background: red;
}

pre:hover {
    background: yellow;
}

form:invalid {
    border: 1px solid red;
}


input:required {
    background: purple;
}

input[type="password"]:active {
    background: blue;
}