@import 'shared.scss';

.documentation {
    text-align: center;
    width: 100%;
}


@media (min-width: 40rem) {
    .example-box {
        background: map-get($colors, 'secondary-color');
    }
}

@media (min-width: 40rem) and (min-height: 40rem) {
    .example-box {
        background: lighten(map-get($colors, 'main-color'), 35%);
    }
}

@media (orientation: landscape) {
  .landscape {
    display: inline;
  }
  .portrait {
    display: none;
  }
}

@media (orientation: portrait) {
  .landscape {
    display: none;
  }
  .portrait {
    display: inline;
  }
}